@model SearchEmailViewModel
@{
    ViewData["Title"] = "CheckMyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/tbilogo.jpg" alt="Sample Photo" />
<div class="row">

    @foreach (var email in Model.Result)
    {
    <div class="col-8">
        <div class="row">
            <ul style="font-weight: bold" class="col-sm-2">GmailId:</ul>
            <ul class="col-sm-10">@email.GmailId</ul>
            <ul style="font-weight: bold" class="col-sm-2">Sender:</ul>
            <ul class="col-sm-10">@email.Sender</ul>
            <ul style="font-weight: bold" class="col-sm-2">Subject:</ul>
            <ul class="col-sm-10">@email.Subject</ul>
            <ul style="font-weight: bold" class="col-sm-2">DataReceived:</ul>
            <ul class="col-sm-10">@email.DateReceived</ul>
            <ul style="font-weight: bold" class="col-sm-2">Status:</ul>
            <ul class="col-sm-10">@email.Status</ul>

            @if (email.Status == 3)
            {
                <button style="background-color:#34495e" class="continue-with-email" type="button" value="@email.GmailId">Continue</button>
            }
        </div>
        <hr id="design-hr" />
        <br />
    </div>

    }
</div>
<strong>
    <a href="javascript:history.go(-1)" style="color:#ff6a00" title="Go to previous page" class="goback">Go back</a>
</strong>