@model E_MailApplicationsManager.Web.Models.Loan.StatusCloseEmailViewModel

@{
    ViewData["Title"] = "FinishLoanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="background">
    <div>
        <h1>Finished Loan Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Client name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClienName)
            </dd>
            <dt class="col-sm-2">
                Phone number:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                Gmail id:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GmailId)
            </dd>
            <dt class="col-sm-2">
                Completed by:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompletedBy)
            </dd>
            <dt class="col-sm-2">
                Terminal date:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TerminalDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    @if (Model.Status == "Reject")
    {
        <button style="background-color:#34495e" class="btn btn-primary" value="@Model.GmailId" type="submit" id="change-email-status-from-close">Change status</button>
    }
    <div>
        <br />
        <string>
            <a class="goback" style="color:#ff6a00" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
        </string>
    </div>
</body>